
// colors
$clr-white: #fff;
$clr-black: #000;
$clr-gray34: #575757;
$clr-gray85: #d9d9d9;
$clr-deep-skyblue: #00AEEF!important;
$clr-blue: #2957A5;
$clr-light-blue: #AEE1F3;
$clr-orange: #FD9647;
$clr-gray: #23263B;
$clr-eclipse: #383737;

// fonts
$base-font-family: "Poppins", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$font-inter: 'Inter', sans-serif;
$font-noto-sans: 'Noto Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;